In [12]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from IPython.display import display
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, BayesianRidge
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.feature_selection import mutual_info_regression, SelectKBest

data = pd.read_csv('new_train.csv')
pd.set_option('display.max_columns', None) 
data.head()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,pickup_month,pickup_dayofweek,pickup_hour,pickup_day,pickup_second,maximum temerature,minimum temperature,average temperature,precipitation,snow fall,snow depth,log_trip_duration,distance,pickup_cluster,dropoff_cluster,fwd_N,fwd_Y
0,2,1,-73.982155,40.767937,-73.964630,40.765602,455,3,0,17,14,6369878.0,51,40,45.5,0.29,0.0,0.0,6.120297,1.502172,12,18,1,0
1,1,1,-73.975090,40.758766,-73.953201,40.765068,1346,3,0,14,14,6357922.0,51,40,45.5,0.29,0.0,0.0,7.204893,1.976279,0,18,1,0
2,1,1,-73.994484,40.745087,-73.998993,40.722710,695,3,0,15,14,6361461.0,51,40,45.5,0.29,0.0,0.0,6.543912,2.513961,8,16,1,0
3,2,3,-73.944359,40.714489,-73.910530,40.709492,755,3,0,4,14,6323059.0,51,40,45.5,0.29,0.0,0.0,6.626718,2.911908,7,7,1,0
4,2,1,-73.952881,40.766468,-73.978630,40.761921,1050,3,0,14,14,6361059.0,51,40,45.5,0.29,0.0,0.0,6.956545,2.231986,18,12,1,0

In [13]:
data.count()

vendor_id              1437168
passenger_count        1437168
pickup_longitude       1437168
pickup_latitude        1437168
dropoff_longitude      1437168
dropoff_latitude       1437168
trip_duration          1437168
pickup_month           1437168
pickup_dayofweek       1437168
pickup_hour            1437168
pickup_day             1437168
pickup_second          1437168
maximum temerature     1437168
minimum temperature    1437168
average temperature    1437168
precipitation          1437168
snow fall              1437168
snow depth             1437168
log_trip_duration      1437168
distance               1437168
pickup_cluster         1437168
dropoff_cluster        1437168
fwd_N                  1437168
fwd_Y                  1437168
dtype: int64

In [14]:
#Splitting into training and validation data
X_train, X_valid, y_train, y_valid = train_test_split(data.drop(['trip_duration', 'log_trip_duration'],axis=1), data['log_trip_duration'], test_size=0.2, random_state=0 )

In [15]:
reg = LinearRegression(normalize=True) #Fitting data to linear regression model
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=True)

In [16]:
pred = reg.predict(X_valid)

In [17]:
def rmsle(real,predicted):  #Calculating RMSLE score
    sum=0.0
    for x in range(len(predicted)):
        p = np.log(predicted[x]+1)
        r = np.log(real[x]+1)
        sum = sum + (p - r)**2
    return (sum/len(predicted))**0.5

In [1]:

print("R2_Score =",r2_score(y_valid, pred))
print("RMSE =",mean_squared_error(y_valid, pred))
print("RMSLE =", rmsle(np.exp(y_valid.values), np.exp(pred)))

NameError: name 'rmsle' is not defined